* {
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  background-color: rgba(50,50,50,0.5);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  /*border: 1px solid red;*/
  text-align: center;
}

.col {
  display: inline-block;
  border: 2px solid rgba(31,131,255,1);
  background-color: rgba(33,0,125,1);
  vertical-align: middle;       /* keeps square from moving down when square contains content */
  text-align: center;
  font-size: 5vh;
  color: white;
}

#container {
  margin: 0 auto;
  padding: 5px;
  width: 50vw;
  background-color: white;
  flex-grow: 1;
}

#playerBar {
  position: relative;
  border: 1px solid red;
  background-color: blue;
  width: 100%;
  height: 10vh;
  text-align: justify;
}

#p1, #p2 {
  display: inline-block;
  position: relative;
  width: 40%;
  background-color: black;
  height: 100%;
  line-height: 10vh;
  text-align: justify;
}

#p2 {
  direction: rtl;
  position: absolute;
  right: 0px;
}

#p1 .name, #p2 .name{
  display: inline-block;
  color: red;
  width: 75%;
  height: 100%;
  vertical-align: top;
  padding: 10px;
}

#p1 .pic, #p2 .pic {
  display: inline-block;
  width: 20%;
  height: 20vh;
  background-color: green;
  text-align: center;
  line-height: 20vh;
}

#score {
  display: inline-block;
  width: 20%;
  height: 100%;
  vertical-align: top;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 10vh;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#element_to_pop_up {
  display:none;
  border: 1px solid black;
      background-color: rgba(200,200,200,0.75);
    border-radius:15px;
    color: black;
    padding:20px;
    min-width:400px;
    min-height: 180px;
}

#gridSize, #nInARow {
  width: 60px;
}